:root {
  font-size: 62.5%;
}
* {
  font-size: 1.6rem;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
body {
  padding: 4.4rem;
  display: flex;
  gap: .8rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #323232;
}
h1 {
  font-size: 4rem;
  margin-top: 8rem;
  margin-bottom: 2rem;
}
p {
  font-size: 2rem;
  text-align: center;
}
button {
  all: unset;
  margin-top: 4rem;
  background-color: #3bafac;
  border-radius: .4rem;
  padding: 1.6rem 3.2rem;
  font-size: 2rem;
  cursor: pointer;
}
button:hover{
  filter: brightness(.9);
}
